<header>
  <div class="logo"> 
      <div class="btn-menu">
          <i class="fas fa-bars"></i>
          <script src="https://kit.fontawesome.com/7e5b2d153f.js" crossorigin="anonymous"></script>
      </div>
  </div>
  <nav class="menu">
      <ul class="navegacion">
          <li><a href="index.html">Inicio</a></li>
          <li><a href="productos.html">Productos</a></li>
          <li><a href="ayuda.html">Ayuda</a></li>
          <li><a href="ventas.html">Ventas</a></li>
      </ul>
  </nav>        
</header>
<div>
  <h1>{{title}}</h1>
</div>