  <table class="table table-hover">
    <thead>
        <tr>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Cantidad</th>
            <th>Compra</th>
        </tr>
    </thead>
    <tbody>
        @for (hardware of hardwares; track hardware.nombre) {
            <tr>
                <td><img width="120" [src]="hardware.image" [alt]="hardware.nombre" /></td>
                <td>{{hardware.nombre}}</td>
                <td>{{hardware.tipo}}</td>
                <td>{{hardware.precio}}</td>
            @if(hardware.stock>0){
                <td></td>
                <td>
                   <app-input-integer [(quantity)]="hardware.quantity" [max]="hardware.stock" ></app-input-integer>
                  
                </td>
                <td>                
                    <button class="btn btn btn-outline-success" (click)="addToCart(hardware)">Comprar</button>
                </td>
            }@else {
                <td >SIN STOCK</td>
            }
        </tr>
        }
    
    </tbody>
  </table>

