  <table class="table table-hover">
    <thead>
        <tr>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Compra</th>
        </tr>
    </thead>
    <tbody>
        @for (item of harware; track item.nombre) {
            <tr>
                <td><img width="120" [src]="item.image" [alt]="item.nombre" /></td>
                <td>{{item.nombre}}</td>
                <td>{{item.tipo}}</td>
                <td>{{item.precio}}</td>
            @if(item.stock>0){
                <td></td>
                <td>
                    <button (click)="downQuantity(item)">-</button>
                    <input type="number" [(ngModel)]="item.quantity">
                    <button (click)="upQuantity(item)">+</button>
                </td>
            }@else {
                <td >SIN STOCK</td>
            }
        </tr>
        }
    
    </tbody>
  </table>

